* {
  margin: 0;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e0c20;
  font-weight: bold;
}

.container {
  width: 400px;
  padding: 150px;
  background-color: #3c2a3c;
  border-radius: 8px;
  box-shadow: 5px 5px 14px 16px #0000001a;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: #f48fea;
}

label {
  color: #f48fea;
}

input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 5px 5px 14px 16px #0000001a;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #683bbb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 1s;
  box-shadow: 5px 5px 14px 16px #0000001a;
}

button:hover {
  background-color: #2f1067;
}

#output {
  margin-top: 20px;
  font-size: 30px;
  color: #d9534f;
  font-weight: bold;
}

#output.success {
  color: #de5bde;
}
